.all_tasks{
    background-color: white;
    max-width: auto;
    min-width: 800px;
    padding: 20px;
    border-radius: 15px;
    margin-top: 10px;
}

.del_btn:hover{
    background-color: #ef5350;
    color: white;
    transition: 0.3s;
}

.del_btn{
    border-radius: 5px;
    cursor: pointer;
}